# MazeDrone with TF Agents - 9001 Vizualize Logs from 9000

In [1]:
import pandas as pd

In [ ]:
resumos = []

for i in range(5):
    read_file = pd.read_csv(f"logs/05-validating-reprod/resumo-9000-checkpoint_4-run_2-log_{i+1}.csv")
        
        
    resumos.append(pd.DataFrame(read_file))

In [20]:
df_resumo = pd.concat(resumos)

In [21]:
df_resumo

,run,check_1,check_2,check_3,check_4,avg_return,finished_percentage,crashes_counter,stuck_counter,avg_steps
0,1,1700,2800,27900,40400,0.120,0.867,0,0,9.417
1,2,1500,2200,25100,25800,-0.602,0.854,0,0,9.996
0,1,2000,2500,22700,24700,5.057,0.960,0,4,5.447
1,2,1300,2200,14000,26500,1.092,0.910,0,94,7.602
0,1,1800,2300,35700,37800,0.645,0.879,19,0,8.853
1,2,1400,1900,20600,22500,-0.870,0.852,2,4,10.168
0,1,2300,3500,21300,22200,1.193,0.887,1,0,8.555
1,2,1700,2900,24300,32700,1.850,0.927,5,103,6.860
0,1,2000,2800,16300,17500,-0.047,0.866,5,1,9.514
1,2,1800,3500,12200,13900,-0.292,0.863,4,9,9.623

,run,check_1,check_2,check_3,avg_return,finished_percentage,crashes_counter,stuck_counter,avg_steps
0,1,1600,2400,28400,1.21,0.894,0,16,8.464
1,2,1600,2100,36600,1.92,0.900,0,2,7.960

In [22]:
read_file = pd.read_csv(f"logs/05-validating-reprod/resumo-7000-checkpoint_1-run_1-log_1.csv")

In [23]:
read_file

,run,check_1,check_2,check_3,avg_return,finished_percentage,crashes_counter,stuck_counter,avg_steps
0,1,1500,3800,53800,-11.937,0.721,105,150,18.173