# MazeDrone with TF Agents - 9003 Vizualize Logs from 9002

In [2]:
import pandas as pd

In [3]:
resumos = []

for i in range(5):
    read_file = pd.read_csv(f"logs/05-validating-reprod/resumo-9002-checkpoint_3-run_2-log_{i+1}.csv")
        
        
    resumos.append(pd.DataFrame(read_file))

In [4]:
df_resumo = pd.concat(resumos)

In [5]:
df_resumo

,run,check_1,check_2,check_3,check_4,avg_return,finished_percentage,crashes_counter,stuck_counter,avg_steps
0,1,2000,2700,17300,18000,0.691,0.882,0,13,8.829
1,2,1900,2800,16500,17100,-1.807,0.833,3,2,10.915
0,1,1400,2400,19500,22000,3.127,0.931,33,5,6.747
1,2,1800,2500,16800,17300,1.973,0.903,0,5,7.890
0,1,2300,2800,23200,33000,2.290,0.918,39,10,7.317
1,2,1800,2300,15500,16000,1.462,0.917,87,47,7.184
0,1,2100,2600,13600,14700,2.495,0.914,0,6,7.475
1,2,1700,2200,12600,13500,2.749,0.915,8,0,7.244
0,1,1500,2500,23700,24200,2.360,0.906,0,1,7.592
1,2,2400,3400,10100,24200,-0.715,0.868,77,4,9.514

In [6]:
resumos = []

for i in range(5):
    read_file = pd.read_csv(f"logs/05-validating-reprod/resumo-9002-checkpoint_4-run_2-log_{i+1}.csv")
        
        
    resumos.append(pd.DataFrame(read_file))

In [7]:
df_resumo = pd.concat(resumos)

In [8]:
df_resumo

,run,check_1,check_2,check_3,check_4,avg_return,finished_percentage,crashes_counter,stuck_counter,avg_steps
0,1,1900,2400,15500,16100,0.798,0.894,0,47,8.378
1,2,2500,3600,16700,17200,1.630,0.896,0,5,8.156
0,1,2400,2900,15000,17100,0.915,0.882,5,6,8.658
1,2,1500,2500,16100,24100,-0.283,0.873,77,4,9.137
0,1,1700,2300,26700,28100,2.470,0.910,0,2,7.512
1,2,1400,3600,23400,24000,1.095,0.908,0,96,7.549
0,1,1900,2900,12200,13000,2.823,0.922,7,10,7.116
1,2,1500,2900,16800,17600,2.283,0.921,2,49,7.144
0,1,1100,2500,14800,15700,-1.514,0.839,0,7,10.645
1,2,1300,1900,12600,13600,-1.002,0.853,40,0,10.025